extends ../shared/layout
block main-content
      h1 Welcome to Travel Share!
      
      .row.container.find-trip-container  
       
          h2.find-header Find a Trip       
          form.form-inline(method="post" action="/trips/search-trips")

            .form-group
              label(for="from") From:  
              input.form-control(type="text" name="from" id="from")
            .form-group
              label(for="to") To:  
              input.form-control(type="text" name="to" id="to")
            .form-group
              label(for="date") Date:  
              input.form-control(type="date" name="date" id="date")
            button.btn.btn-primary.btn-search(type="submit") 
              i.glyphicon.glyphicon-search
              | Find
      
      if data
      .row.container.trip-list
        each trip in data
         .row.container.trip-item
            a(href='/trips/'+ trip._id)
              .col-md-2
                i.fa.fa-user(aria-hidden='true')
                span= trip.username
              .col-md-8
                .col-md-12.trip-date
                  i.fa.fa-calendar-o(aria-hidden='true')
                  span= trip.humanDate
                .col-md-12.trip-from-to
                 span= trip.from
                 |   ->  
                 span= trip.to
                .col-md-12
                  i.fa.fa-map-marker.trip-from(aria-hidden='true')
                  span= trip.from
                .col-md-12
                  i.fa.fa-map-marker.trip-to(aria-hidden='true')
                  span= trip.to
              .col-md-2             
                div.trip-price.text-right= trip.price
                   span  lv
                 
                div.trip-seats.text-right= trip.slots
                div.text-right seats available