extends ../shared/layout
block main-content
  h1 Trip Details
  if(data)
    .row.container.trip-item
      - var tripContainsViewingUser = false
      if (data.passengers && currentUser)
        each passenger in data.passengers
          if (passenger === currentUser.username) 
            - tripContainsViewingUser = true
      .col-md-9
        .trip-date Date:  
          i.fa.fa-calendar-o(aria-hidden='true')
          span= data.humanDate
        .trip-from From:  
          i.fa.fa-map-marker.trip-from(aria-hidden='true')
          span= data.from
        .trip-to To:  
          i.fa.fa-map-marker.trip-to(aria-hidden='true')
          span= data.to
        .trip-price Price:  
          span= data.price 
          span  lv for passenger
        .trip-driver Driver: 
          i.fa.fa-user(aria-hidden='true')
          span= data.username
        
        if (data.description)
        .trip-description= data.description
        .trip-passengers Passengers:
          if (data.passengers.length > 0)
            ul
              each passenger in data.passengers
                li
                  i.fa.fa-user(aria-hidden='true')
                  a(href="/users/" + passenger) #{passenger}
          else 
            | None

      .col-md-3.text-center
        .trip-seats= data.slots
          span  available seats
      if (currentUser && data.slots > 0 && !tripContainsViewingUser)
        form.text-center(method="post" action="/trips/join-trip")
          input(type="hidden" name="username" value=currentUser.username)
          input(type="hidden" name="tripId" value=data._id)
          input.btn.btn-lg.btn-primary.btn-book-plase(type="submit" value="Book a place now")
        
  else
   h2 Not found  